<% content_for :title do %>
    <%= @current_user.name %>
<% end %>

<% content_for :css do %>
    /home.css
<% end %>

<script type="text/javascript"><!--
function ChangeTab(tabname) {
    // 全部消す
    document.getElementById('tab1').style.display = 'none';
    document.getElementById('tab2').style.display = 'none';
    document.getElementById('tab3').style.display = 'none';
    document.getElementById('tab4').style.display = 'none';
    // 指定箇所のみ表示
    document.getElementById(tabname).style.display = 'block';
}
// --></script>

<div class="tabbox">

  <h1>MINEへようこそ、<%= @current_user.name %>さん。</h1>
  <p id="instruction">友達の名前をクリックすると、メッセージが送れるよ！<br>リクエストを送信したり承認したらページを更新してね！</p>

  <p class="tabs">
    <a href="#tab1" class="tab1" onclick="ChangeTab('tab1');return false;">友だち</a>
    <a href="#tab3" class="tab3" onclick="ChangeTab('tab2');return false;">
      <% if @newpost.present? %>
          <span style="font-size:17px;color:red;vertical-align:middle">*</span>
      <% end %>
      トーク
    </a>
    <a href="#tab2" class="tab2" onclick="ChangeTab('tab3');return false;">
      <% if @requesteds.present? %>
        <span style="font-size:17px;color:red;vertical-align:middle">*</span>
      <% end %>
      リクエスト
    </a>
    <a href="#tab4" class="tab4" onclick="ChangeTab('tab4');return false;">あなた</a>
  </p>

  <div id="tab1" class="tab">
    <p style="font-size:20px; text-align:center;">友達を追加しよう！</p>
    <form method="post" action="/friend_search">
      <input name="id" type="text" style="font-size:20px" placeholder="友達のIDを入力してね">
      <input type="submit" id="search" style="font-size:20px;" value="検索">
    </form>
    <hr>
    <% if session[:perhaps_friend].present? %>
      <div class="searched_area">
        <div class="searched_friends">
          <img width="70px" height="70px" src="./images/<%= session[:perhaps_friend].profile_url %>">
          <p data-id="<%= session[:perhaps_friend].id %>">
            <%= session[:perhaps_friend].name %>
            <span class="requestCmd" style="cursor:pointer;color:blue">[+]</span>
          </p>
        </div>
        <hr>
      </div>
    <% end %>
    <% if @friends.present? %>
      <% @friends.each do |friend| %>
          <div class="friend">
            <img width="70px" height="70px" src="./images/<%= friend.profile_url %>">
            <p data-id="<%= friend.id %>">
              <a href="/talk/<%= friend.id %>" style="cursor:pointer;text-decoration:none;"><%= friend.name %></a>
            </p>
          </div>
          <hr>
      <% end %>
    <% end %>
  </div>

  <div id="tab2" class="tab">
    <% if @talkrooms.present? %>
      <br>
      <% @talkrooms.each do |talkroom_id, talkroom_info| %>
        <div class="talkroom">
          <% if talkroom_info[1].present? %>
              <span id ="new" style="color:red;font-size:15px;font-family:arial">NEW</span>
          <% end %>
          <a href="/talk/room/<%= talkroom_info[0] %>/<%= talkroom_id %>" style="cursor:pointer;text-decoration:none"><%= talkroom_info[0] %></a>
          <% if talkroom_info[2].present? %>
          <small style="color:gray"><%= talkroom_info[1].truncate(23) %><%= talkroom_info[2].in_time_zone("Tokyo").strftime("%m/%d %H:%M") %></small>
          <% end %>
        </div>
        <hr>
      <% end %>
    <% else %>
      <p style="font-size:20px;">トークはありません</p>
    <% end %>
  </div>

  <div id="tab3" class="tab">
    <% if @requesteds.present? %>
        <br>
        <% @requesteds.each do |requested| %>
            <div class="requested_area">
              <div class="requested">
                <img width="70px" height="70px" src="./images/<%= requested.profile_url %>">
                <p data-id="<%= requested.id %>">
                  <%= requested.name %>
                  <a class="button acceptCmd" style="cursor:pointer;font-size:20px;">承認</a>
                  <a class="button deleteCmd" style="cursor:pointer;font-size:20px;">拒否</a>
                </p>
                <hr>
              </div>
            </div>
        <% end %>
    <% else %>
        <p style="font-size:20px;">リクエストはありません</p>
    <% end %>
  </div>

  <div id="tab4" class="tab">
    <div id="profile">
      <small>現在のプロフィール画像</small>
      <p><img width="130px" height="130px" src="./images/<%= @current_user.profile_url %>"></p>
      <p><%= @current_user.name %></p>
    </div>
    <form method="post" action="/newphoto" enctype="multipart/form-data">
      <p>画像変更</p>
      <input type="file" name="file" size="20" style="font-size:15px;">
      <p><input type="submit" style="font-size:20px;font-family:serif;" value="アップロード"></p>
    </form>
  </div>
</div>

<script type="text/javascript"><!--
// デフォルトのタブを選択
ChangeTab('tab2');
// --></script>

<form id="logout" action="/logout" method="post">
  <button class="button" type="submit" style="font-size:15px;font-family:arial">ログアウト</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(".requestCmd").click(function() {
        var el = $(this).parent();
        var el2 = $(this).parents(".searched_area").find("hr");
        var el3 = $(this).parents(".searched_friends").find("img");
        if (confirm("友達リクエストを送信しますか？")){
            $.post(
                "/request",
                {
                    id: el.data("id")
                },
                function(){
                    el2.fadeOut(500);
                    el3.fadeOut(500);
                    el.fadeOut(500);
                }
            );
        }
    });

    $(".acceptCmd").click(function() {
        var el = $(this).parent();
        var el2 = $(this).parents('.requested_area').find('hr');
        var el3 = $(this).parents('.requested').find('img');
        if (confirm("リクエストを承認しますか？")){
            $.post(
                "/accept",
                {
                    id: el.data("id")
                },
                function () {
                    el3.fadeOut(500);
                    el2.fadeOut(500);
                    el.fadeOut(500);
                }
            );
        }
    });

    $(".deleteCmd").click(function() {
        var el = $(this).parent();
        var el2 = $(this).parents('.requested_area').find('hr');
        var el3 = $(this).parents('.requested').find('img');
        if (confirm("リクエストを拒否しますか？")){
            $.post(
                "/delete",
                {
                    id: el.data("id")
                },
                function () {
                    el3.fadeOut(500);
                    el2.fadeOut(500);
                    el.fadeOut(500);
                }
            );
        }
    });

    $(".friendCmd").click(function() {
        var el = $(this).parent();
        $.post(
             "/talk_start",
             {
                 id: el.data("id")
             }
        );
    });

</script>