<% content_for :title do %>
    <%= @current_user.name %>
<% end %>

<% content_for :css do %>
    /home.css
<% end %>

<script type="text/javascript"><!--
function ChangeTab(tabname) {
    // 全部消す
    document.getElementById('tab1').style.display = 'none';
    document.getElementById('tab2').style.display = 'none';
    document.getElementById('tab3').style.display = 'none';
    document.getElementById('tab4').style.display = 'none';
    // 指定箇所のみ表示
    document.getElementById(tabname).style.display = 'block';
}
// --></script>

<div class="tabbox">

  <h1>MINEへようこそ、<%= @current_user.name %>さん。</h1>
  <p id="instruction">友達の名前をクリックすると、メッセージが送れるよ！<br>リクエストを送信したり承認したらページを更新してね！</p>

  <p class="tabs">
    <a href="#tab1" class="tab1" onclick="ChangeTab('tab1');return false;">友だち</a>
    <a href="#tab2" class="tab2" onclick="ChangeTab('tab2');return false;">ユーザー</a>
    <a href="#tab3" class="tab3" onclick="ChangeTab('tab3');return false;">リクエスト受信</a>
    <a href="#tab4" class="tab4" onclick="ChangeTab('tab4');return false;">リクエスト中</a>
  </p>


  <div id="tab1" class="tab">
    <% @friends.each do |friend| %>
        <% user = User.find_by(name: friend.frie_name) %>
          <img width="50px" height="50px" src="./images/<%= user.profile_url %>">
        <a href="/hello/<%= friend.frie_name %>"><%= friend.frie_name %></a>
        <hr>
    <% end %>
  </div>

    <div id="tab2" class="tab">
        <% @users.each do |user| %>
            <% if @friends.present? && @reqs.present? %>
                <% @friends.each do |friend| %>
                    <% if user.name == friend.frie_name || user.name == @current_user.name %>
                        <% break %>
                    <% end %>
                    <% @i += 1 %>
                    <% if @i == @friends.size %>
                      <% @reqs.each do |req| %>
                          <% if user.name == req.req_to %>
                              <% break %>
                          <% end %>
                          <% @x += 1 %>
                          <% if @x == @reqs.size %>
                          <div id="list">
                            <img width="50px" height="50px" src="./images/<%= user.profile_url %>">
                            <p data-name="<%= user.name %>">
                              <%= user.name %>
                              <span class="requestCmd" style="cursor:pointer;color:blue">[+]</span>
                            </p>
                            <hr>
                          </div>
                          <% end %>
                      <% end %>
                    <% end %>
                <% end %>
                <% @i = 0 %>
            <% elsif @friends.present? %>
                <% @friends.each do |friend| %>
                    <% if user.name == friend.frie_name || user.name == @current_user.name %>
                        <% break %>
                    <% end %>
                    <% @i += 1 %>
                    <% if @i == @friends.size %>
                    <div id="list">
                      <img width="50px" height="50px" src="./images/<%= user.profile_url %>">
                      <p data-name="<%= user.name %>">
                        <%= user.name %>
                        <span class="requestCmd" style="cursor:pointer;color:blue">[+]</span>
                      </p>
                      <hr>
                    </div>
                    <% end %>
                <% end %>
                <% @i = 0 %>
            <% elsif @reqs.present? %>
                <% @reqs.each do |req| %>
                    <% if user.name == req.req_to || user.name == @current_user.name %>
                        <% break %>
                    <% end %>
                    <% @i += 1 %>
                    <% if @i == @reqs.size %>
                    <div id="list">
                      <img width="50px" height="50px" src="./images/<%= user.profile_url %>">
                      <p data-name="<%= user.name %>">
                        <%= user.name %>
                        <span class="requestCmd" style="cursor:pointer;color:blue">[+]</span>
                      </p>
                      <hr>
                    </div>
                    <% end %>
                <% end %>
                <% @i = 0 %>
            <% else %>
                <% if user.name == @current_user.name %>
                  <% next %>
                <% end %>
                <div id="list">
                  <img width="50px" height="50px" src="./images/<%= user.profile_url %>">
                  <p data-name="<%= user.name %>">
                    <%= user.name %>
                    <span class="requestCmd" style="cursor:pointer;color:blue">[+]</span>
                  </p>
                  <hr>
                </div>
            <% end %>
        <% end %>
      　<img id="me" width="50px" height="50px" src="./images/<%= @current_user.profile_url %>">
        <a href="/mypage">
         <%= @current_user.name %>
        </a>
        <hr>
    </div>

    <div id="tab3" class="tab">
      <% if @reqds.present? %>
        <% @reqds.each do |reqd| %>
          <% user = User.find_by(name: reqd.req_from) %>
          <div id="list2">
            <img width="50px" height="50px" src="./images/<%= user.profile_url %>">
            <p data-name="<%= reqd.req_from %>">
              <%= reqd.req_from %>
              <span class="acceptreqCmd" style="cursor:pointer;color:blue">[OK]</span>
            </p>
            <hr>
          </div>
        <% end %>
      <% else %>
        <p style="font-size:20px; text-align:center;">リクエストはありません</p>
      <% end %>
    </div>

    <div id="tab4" class="tab">
      <% if @reqs.present? %>
        <% @reqs.each do |req| %>
           <% user = User.find_by(name: req.req_to) %>
            <img width="50px" height="50px" src="./images/<%= user.profile_url %>">
            <p data-name="<%= req.req_to %>">
              <%= req.req_to %>
            </p>
            <hr>
        <% end %>
      <% else %>
        <p style="font-size:20px; text-align:center;">リクエスト中の人はいません</p>
      <% end %>
    </div>
</div>

<script type="text/javascript"><!--
// デフォルトのタブを選択
ChangeTab('tab1');
// --></script>

<form action="/logout" method="post">
  <button class="button" type="submit" style="font-size:15px;font-family:arial">ログアウト</button>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(".requestCmd").click(function() {
        var el1 = $(this).parent();
        var el2 = $(this).parents("#list").find("img");
        var el3 = $(this).parents("#list").find("hr");
        if (confirm("友達リクエストを送信しますか？")){
            /* 正直ここの意味を深く理解しているわけではない */
            $.post("/request", {
                name: el1.data("name")
            }, function () {
                el3.fadeOut(500);
                el2.fadeOut(500);
                el1.fadeOut(500);
            });
        }
    }),

    $(".acceptreqCmd").click(function() {
        var el1 = $(this).parent();
        var el2 = $(this).parents("#list2").find("img");
        var el3 = $(this).parents("#list2").find("hr");
        if (confirm("リクエストを許可しますか？")){
          /* 正直ここの意味を深く理解しているわけではない */
            $.post("/acceptreq", {
                name: el1.data("name")
            }, function () {
                el3.fadeOut(500);
                el2.fadeOut(500);
                el1.fadeOut(500);
            });
        }
    });
</script>