<% content_for :title do %>
 <% if @to_uers.present? %>
   <% @to_users.each do |to_user| %>
    <%= to_user.name %>
   <% end %>
 <% elsif @to_user.present? %>
   <% @to_user.name %>
 <% end %>
<% end %>


<% content_for :css do %>
  /talk.css
<% end %>

<% if @to_users.present? %>
  <% @to_users.each do |to_user| %>
    <span style="font-size:30px;font-weight:bold;font-family:arial;color:#00bfff;text-align:center;"><%= to_user.name %> </span>
  <% end %>
<% elsif @to_user.present? %>
  <span style="font-size:30px;font-weight:bold;font-family:arial;color:#00bfff;text-align:center;"><%= @to_user.name %></span>
<% end %>

<div id="wrapper" style="overflow: auto;">
  <% if @posts.present? %>
      <% @posts.each do |post| %>
          <% if post.user_id == @current_user.id %>
              <div class="me">
                <div class="my_content">
                  <big><%= h post.body %></big><br>
                </div>
                <div class="my_time">
                  <small>
                    <%= h post.created_at.in_time_zone("Tokyo").strftime("%H:%M") %> by <%= h @current_user.name %>
                    <% if post.kidoku == 1 %>
                        ：既読
                    <% end %>
                  </small>
                </div>
              </div>
          <% else %>
              <div class="you">
                <big><%= h post.body %></big><br>
                <small>
                  <% user = @to_users.select{|i| i[:id] == post.user_id} %>
                  <%= h post.created_at.in_time_zone("Tokyo").strftime("%H:%M") %> by <%= h user[0][:name] %>
                </small>
              </div>
          <% end %>
      <% end %>
  <% else %>
      <h2>初メッセージを送ろう！</h2>
  <% end %>
</div>

<form method="post" action="/new/<%= @talkroom_id %>">
  <p><textarea name="body" rows="5" cols="40" style="font-size:15px" placeholder="ここに入力してください。"></textarea></p>
  <input type="submit" class="button" style="font-size:20px;font-family:arial;" value="送信">
  <a href="/"><input class="button" type="button" style="font-size:20px;font-family:arial;" value="戻る"></a>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#wrapper").scrollTop(99999);
</script>